@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
.primary-color{
  background-color: #4B495F;
}
body{
  background-color: #0a0b0c;
 
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;

}
.won-game{
  color: white;
  font-size: large;
  text-align: center;
}
.main-div{
  display: flex;
  align-items: center;
  justify-content: center;


  
}
.play-online{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   color: white;
   background-color: #da58d1;
   clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}
.opponents{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: yellow;

}
.play-online>h1{
  position: relative;
  overflow: hidden;
  cursor: pointer;
 
  
}
.game-heading{
  padding: .5em 1em;
  color: white;
  border-radius: 5px;
}
.square-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.move-detection{
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}
.left-move ,.right-move{
  height: 30px;
  width: 120px;
  border-bottom-left-radius: 50px;
  background-color: #4b495f;
  border-top-right-radius: 50px;
  padding-top: 7px;
  font-size: 18px;
  padding-bottom: 5px;
  text-align: center;
 
}
/* .left-move{
  background-color: #DD7F9F;
}
.right-move{
  background-color: #3FA7F0;
} */
.current-move-cross{
  background-color: #3FA7F0 !important ;
}
.current-move-circle{
  background-color: #DD7F9F !important;
}
